.contact {
    height: 80vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.padding {
    padding-bottom: 10px;
}

.contact-container input {
    width: 324px;
    height:35px;
}

.contact-container input:focus {
    border:solid red 2px;
    outline: none;
    color: black;
    width: 324px;
    height:35px;
}
textarea{
    width: 324px;
    height:35px;
}
textarea:focus{
    text-emphasis: bold;
    border:solid red 2px;
    outline: none;
    color: black;
    width: 324px;
    height:35px;

}
.submit input {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: var(--button-bg-color);
    color: var(--button-color);
}

.submit input:hover {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: var(--button-bg-color-hover);
    color: var(--button-color-hover);
}