:root {
    --bg-color: #ffffffec;
    --nav-color: #f1f1f1;
    --nav-hover: rgba(206, 201, 201, 0.877);
    --nav-text-color: #000611;
    --bg-drop-down: #f1f1f1;
    --h1-color: rgb(68, 124, 150);
    --button-color: rgb(143, 27, 27);
    --button-bg-color: rgb(51, 38, 38);
    --button-color-hover: rgb(68, 47, 47);
    --button-bg-color-hover: rgb(143, 129, 129);
    --p-color: green;
    --a-color: purple;
    --c1: yellow;
    --c2: yellow;
    --c3: yellow;
    --c4: yellow;
    --c5: yellow;
    --display: none;
    --animation: rotate-color;
    --animation-umfla: umfla;
}